<h1> Yo, Let's cook! </h1>
<img src ="http://www.galaxyunit.com/images2/recipes_bitches.jpg" alt = "yo, mr white .. recipes!">
<%= simple_form_for @recipes, :html => { :class => 'page-form' } do |f| %>
<div class="row">
	<%= f.input :recipe_name %>
	<%= f.input :ingredients %>
	<%= f.input :first_name  %>
	<%= f.input :last_name   %>
	<%= f.input :blog_url    %>
	<%= f.submit 'Create'    %>
    <% end %>
